@*@model LacingAdmin.Web.Areas.Alumnos.Models.AlumnoViewModel

@if (Model.ListaAsistenciasAlumno!= null && Model.ListaAsistenciasAlumno.Count +)
{
    
}
@foreach (var item in Model.ListaAsistenciasAlumno)
{

}*@


<p>FUNCIONAAAAAAA!!!!!!!!!!!</p>
